/* General */

body,input,textarea,select{
	font-size: 14pt;
	}

h2{
	font-size: 1.5em;
	letter-spacing: 0;
	font-weight: 300;
	text-align: center;
	}

.container{
	padding: 0 15px 0 15px;
	}

.image.featured{
	position: relative;
	min-height: 10em;
	overflow: hidden;
	}
	
.image.featured img{
	position: relative;
	height: 10em;
	width: auto;
	}

/* Main */

#main{
	margin-left: 0;
	}
	
#main > section{
	padding: 2em 0 2em 0;
	}

#contact .mail {
    font-size: 1.5em;
	text-align: center;
	}

#footer .copyright {
	text-align: center;
	}
	
.mail{
	text-align: center !important;
	}