/* General */

body,input,textarea,select{
	font-size: 14pt;
	}

h2{
	font-size: 1.5em;
	letter-spacing: 0;
	font-weight: 300;
	text-align: center;
	}

.container{
	padding: 0 15px 0 15px;
	}

.image.featured{
	position: relative;
	min-height: 10em;
	overflow: hidden;
	}
	
.image.featured img{
	position: relative;
	height: 10em;
	width: auto;
	}

/* Main */

#main{
	margin-left: 0;
	}
	
#main > section{
	padding: 2em 0 2em 0;
	}

#contact .mail {
    font-size: 1.5em;
	text-align: center;
	}

#footer .copyright {
	text-align: center;
	}
	
.mail{
	text-align: center !important;
	}

.title {
    font-size: 1em;
}
.time{    
	height: 90px;
    width: 90px;
	}

.vertical-line {
    margin: 20px 0px 10px 45px;
}
.time p:nth-child(2) {
    line-height: 10px;
}
#timeline h4 {
    font-size: 1.2em;
	padding-top: .4em;
}
.job p{
	margin-bottom: 0;
    font-size: .8em;
}
.left-pane h3 {
    margin-bottom: .8em;
    text-align: center;
    width: 96%;
}

  .DLresume{
	width:100%;
	text-align: center;
	
}
