

body{
	margin:0 auto; width:100%;
	color:white;
	margin:0;
	padding:0;
	min-height:1500px;
	}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'gothic';
	src:url(../font/GOTHIC_1.TTF);
	}

/*---------- Panel 1 --------*/	
.panel-1{
	width:100%; 
	height:100%; 
	margin:0 auto;  
	background:url("../images/bg2.jpg"); 
	background-position:top center; 
	background-repeat:no-repeat;
	min-height:900px;
	font-family: 'gothic' !important;
	}
	
.resume{ 
	color:#fff; 
	text-decoration:none; 
	text-align:center; 
	font-size:18px;
	font-weight:550;
	}
	
.header{
	min-height:150px !important; 
	height:auto; width:80%; 
	max-width:1000px; 
	margin:0 auto;  
	position:relative;
	}
	
.logo{
	background-image: url("../images/logo1.PNG");
    background-repeat: no-repeat;
    height: 71px;
    position: absolute;
    top: 30px;
    width: 243px;
	}
	
.nav{
	font-family:gothic;  
	text-transform: uppercase; 
	float:right; 
	color:#fff; 
	width:500px;  
	text-align:right; 
	position: absolute; 
	top:75px; 
	right:0px; 
	display: 
	inline-block;}
	
	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		}
    nav ul li{
		list-style:none;  
		display: inline; 
		}
	nav ul li a{
		color:#fff; 
		padding-left:30px; 
		text-decoration:none;
		text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
		}
	nav ul li a:hover{
		color:#fff; 
		text-decoration:underline;
		}
	
.back_to_top{
	width:70px; 
	height:50px; 
	border:none;
	bottom:-3px; 
	right:5%;  
	background:#999; 
	text-align:left;
	padding:0px; margin:0px;
	-webkit-border-top-left-radius: 8px;  
	-webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px; display:none;
	background-image:url("../images/top.png");
	background-size:32px 32px;
	background-position:center center;
	background-repeat:no-repeat;
	position:fixed; 
	z-index:500;
   }

.back_to_top ul{
	list-style-type: none; 
	margin: 0;padding: 0; 
	padding-top:10px;
	}
	
.back_to_top ul li{
	list-style-type: none; 
	}
	
.back_to_top ul li a, .back_to_top ul li a:hover{
    padding: 10px 35px 35px; 
	}
	
.content{
	position:fixed;
	width:100%;
	height:90%;
	}
	
.behind, .planet1, .mydetail1, .mydetail2{
	display:block;
	position:absolute;
	}

.behind{
	width:100%;
	height:120%;
	background:url("../images/bg2.jpg") top center no-repeat;
	top:0%;
	left:0%;
	position:absolute;
    /*z-index:-1000;*/
	}
	
.planet1{
	width: 40%;
	height: 40%;
	background:url("../images/photo.PNG")  no-repeat;
	left:44%;
	top:26%;
	}

.mydetail1{
	color:#fff; font-size:24px;
	font-weight:300;
	top:60%;
	left:40%;
	text-align:center;
	text-shadow: 0px 3px 0px rgba(0, 0, 0, 0.5);
	}

.mydetail2{
	color:#fff; font-size:14px;
	font-weight:300;
	top:68%;
	left:28%;
	text-align:center;
	line-height:22px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.5);
	}
	
	/* Media Queries  Panel 1*/
@media all and (max-width: 399px){
	
 	.nav {
    top: 130px;
	font-size:12px;
	right:-10%;
	}
	
	.logo {
    background-size: 80% auto;
    top: 45px;
	left:10%
    }
	
	.planet1 {
	background-size:60%;
	left:41%;
	 top: 26%;
	}
	
	.mydetail1{
	top:60%;
	left:28%;
	font-size:22px;
	}
	
	.mydetail2{
	top:70%;
	left:14%;
	font-size:13px;
	}	
	
}	
	
@media all and (max-width: 639px){
	
	.icon-close {
	right:10%; 
	width:60px; 
	height:45px; 
	top:-5px; 
	}
	
	.back_to_top{
	width:60px; 
	height:45px; 
	bottom:-5px; 
	right:3%;  
	z-index:500;
   	}
   
   .nav {
	width:500px;
    top: 130px;
	margin:0 auto;
	right:15%
	}
	
	.logo {
    background-size: 80% auto;
    top: 45px;
	left:20%
    } 
.resume{ color:#be914e; font-size:14px;}

}

@media all and (max-width: 959px){
	
	.icon-close {
	right:10%; top:3%;
	width:60px; 
	height:45px; 
	top:-5px; 
	}
	
	.back_to_top{
	width:60px; 
	height:45px; 
	bottom:-5px; 
	right:3%;  
	z-index:500;
   	}
	
}

@media all and (max-width: 899px){
	
	.planet1 {
	background-size:60%;
	left:41%;
	 top: 26%;
	}
	
	.mydetail1{
	top:60%;
	left:28%;
	font-size:22px;
	}
	
	.mydetail2{
	top:70%;
	left:14%;
	font-size:13px;
	}	
		
}
@media all and (min-width: 300px){

	
	.planet1 {
   background-size: 90% auto;
    left: 33%;
    top: 30%;
	}
	
	.mydetail1{
	top:47%;
	left:16%;
	font-size:18px;
	}
	
	.mydetail2{
	top:55%;
	left:3%;
	font-size:11px;
	}	

}

@media all and (min-width: 600px){

	.planet1 {
   	background-size:70%;
	left:38%;
	top: 26%;
	}

	.mydetail1{
	top:52%;
	left:28%;
	font-size:20px;
	}
	
	.mydetail2{
	top:60%;
	left:14%;
	font-size:11px;
	}	

}
@media all and (min-width: 700px){

	.planet1 {
	background-size:65%;
	left:38%;
	 top: 26%;
	}
	
	.mydetail1{
	top:60%;
	left:29%;
	font-size:22px;
	}
	
	.mydetail2{
	top:70%;
	left:14%;
	font-size:13px;
	}	
			

}
@media all and (min-width: 900px){
	
	.planet1 {
	background-size:48%;
	left:40%;
	 top: 26%;
	}
	
	.mydetail1{
	top:60%;
	left:32%;
	font-size:22px;
	}
	
	.mydetail2{
	top:70%;
	left:19%;
	font-size:13px;
	}	
		
}
@media all and (min-width: 1000px){
	
	.planet1 {
	background-size:42%;
	left:42%;
	top: 26%;
	}
	
	.mydetail1{
	font-size:26px;
	top:60%;
	left:35%;
	font-size:22px;
	}
	
	.mydetail2{
	top:70%;
	left:25%;
	font-size:13px;
	}
	
}
@media all and (min-width: 1250px){
	
	.planet1 {
	background-size:40%;
	left:42%;
	top: 26%;
	}

	.mydetail1{
	font-size:26px;
	top:60%;
	left: 35%;
	}

	.mydetail2{
	top:70%;
	left: 26%;
	font-size:14px;
	}
	
}

@media all and (min-width: 1440px){
	
	.planet1 {
	background-size:36%;
	left:43%;
	top:26%;
	}

	.mydetail1{
	font-size:26px;
	top:60%;
	left:39%;
	}

	.mydetail2{
	top:70%;
	left:32%;
	font-size:15px;
	}
	
	.back_to_top{
	right:10%;
	}
	
}

/*---------------- Mixitup--------- */
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	}

button{
	font-family: 'gothic' !important; 
  background: #1d1d1d; 
  display: inline-block;
  padding: .4em .8em;
  background: #1d1d1d;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
  font-size:18px;
  }

.controls{
  padding: 1%;
  background: #1d1d1d;
  color: #eee;
  display:table; 
  margin:0 auto;
  width:80%; 
  max-width:1000px; 
  text-align:center; 
  font-family:gothic; 
  text-transform:uppercase;
  }
  
.dot{
	font-weight:bold; 
	font-size:12px; 
	color:#fff;
	}
	
label{
	font-weight: 300;
	margin: 0 .4em 0 0;
	}

button.active{
  color: #fff;
  text-decoration:underline;
	}

button:focus{
  outline: 0 none;
	}

button + label{
  margin-left: 1em;
	}

.container{
	text-align: justify;
	-webkit-backface-visibility: hidden;
	border:none;
	width:80%; 
	max-width:1000px; 
	margin:0 auto;
  	min-height:500px;
	margin-top: 1%;
	}
  
.container:after{
  content: '';
  display: inline-block;
  width: 100%;border:none;
	}

.container .mix,.container .gap{
  display: inline-block;
  width: 49%;border:none;
	}

.container .mix{
  text-align: left;
  display: none;
  border:none;
	}

.container .mix:after{
  content: attr(data-myorder);
  color: white;
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  font-weight: 700;
  border:none;
	}

.container .mix img{
	width:100%; height:100%;
	
	}

.container .mix:before{
  content: '';
	}


@media all and (min-width: 300px){
  	.container .mix,
  	.container .gap{
    width: 100%;
  	}
}


@media all and (min-width: 600px){
  	.container .mix,
  	.container .gap{
     width: 49%;
  	}
}

@media all and (min-width: 940px){
  	.container .mix,
  	.container .gap{
  	width: 32%;
 	}
}

/*---------------Image Caption---------------*/
img {
	width: 100%;
	}

figure {
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	cursor: pointer;
	overflow: hidden;
	height:100%;
	width: 100%;
	max-width: 320px;
	max-height: 219px;
	}

figure:hover figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
	opacity: 1;
	top: 65%;
	}

figcaption {
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 100%;
	background: rgba(0,0,0,.75);
	color: #fff;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transition-delay: .1s;
	-moz-transition-delay: .1s;
	-o-transition-delay: .1s;
	-ms-transition-delay: .1s;
	transition-delay: .1s;
	}

figcaption h3 {
	font-family:Verdana, Geneva, sans-serif;
	font-weight:100;
	font-size:24px;
	color: #fff;
	padding: 5px 0px;
	margin-bottom: 0;
	position: relative;
	righ: 100%;
	margin-top: 0.2%;
	text-align:center;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	}

figcaption p {
	font-family:Verdana, Geneva, sans-serif;
	padding: 0px 0px;
	margin-bottom: 0;
	margin-top: 0%;
	position: relative;
	font-size: 13px;
	color: #fff;
	righ: 100%;
	text-align:center;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	-ms-transition: all .2s ease;
	transition: all .2s ease;
	}

figure:hover h3,figure:hover p {
	left: 0;
	}

figcaption a {
	color: #fff;
	/*padding: 4px 10px;*/
	text-decoration: none;
	}

figcaption a:hover {
	color: #4f5856;
	background: #fff;
	}


/*---------- Panel 2 --------*/

.panel-2{
	font-family: gothic !important;
	width:100%; 
	margin:0 auto; 
	min-height:800px; 
	height:auto; 
	background:#1d1d1d; 
	position:relative; 
	/*border-top:1px solid #fff;*/
	background-image:url("../images/panel-bg.png");
	background-repeat:repeat;
	z-index:200;
	}
	
/*.vertical_line1{
	width: 1px; 
	background-color: #fff; 
	height: 24px; 
	margin: 0 auto; 
	position:relative; 
	top:-12px; 
	}*/

/*---------- Panel 3 Start --------*/	
.panel-3{
	font-family: gothic !important;
	background-color:#be914e;  
	min-height:320px; 
	height:auto; 
	overflow:auto;  
	/*border-top: 1px solid #fff; */
	padding-top:24px;
	margin:auto 0; 
	position:relative;
	z-index:300;
	}

/*.vertical_line3{
	width: 1px; 
	background-color: #fff; 
	height: 24px;  
	margin: 0 auto; 
   position:relative;
   z-index:310; top:12px;
	}*/
	
.skills{
	width:90%;
	display:block;
	overflow:hidden;
	max-width:1000px; 
	color:#3b2a0a; 
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
	font-weight:550; margin:0 auto; 
	}
	
.col1{ 
	list-style-image:url("../images/list_style.PNG"); 
	font-size:20px; 
	line-height:36px; 
	float:left; 
	width:39% !important;
	}
	
.col2{
    float: left;
    font-size: 20px;
    line-height: 36px;
    list-style-image: url("../images/list_style.PNG");
	width:31% !important;
	}
	
.col3{
	list-style-image:url("../images/list_style.PNG"); 
	font-size:20px; 
	line-height:36px; 
	float:left;  
	width:30% !important;
	}

.col3 li, .col2 li, .col1 li{
	padding-left:10px;
	}



/* Media Queries  Panel 3*/

@media all and (max-width: 300px){
	
	 .col1{
	font-size:5px;  
	line-height:30px;
	}
   
   .col2{
    font-size:5px; 
    line-height:30px;
	}
	
	.col3{
	font-size:5px; 
	line-height:30px;
	}
	
	.col3 li, .col2 li, .col1 li{
	padding-left:3px;
	}
	
}
@media all and (max-width: 679px){
	
	 .col1{
	font-size:12px;  
	line-height:30px; 
	}
   
   .col2{
    font-size:12px; 
    line-height:30px;
	}
	
	.col3{
	font-size:12px; 
	line-height:30px;
	}
	
	.col3 li, .col2 li, .col1 li{
	padding-left:3px;
	}
}


@media all and (min-width: 680px){
 .col1{
	font-size:16px;  
	line-height:36px; 
	}
   
   .col2{
    font-size:16px;
    line-height: 36px;
	}
	
	.col3{
	font-size:16px;
	line-height:36px; 
	}
	
   .col3 li, .col2 li, .col1 li{
	padding-left:5px;
	}

}	


@media all and (min-width: 1050px){
	 .col1{
	font-size:20px;  
	line-height:36px; 
	}
   
   .col2{
    font-size:20px; 
    line-height: 36px;
	}
	
	.col3{
	font-size:20px; 
	line-height:36px; 
	}

}

/*---------- footer --------*/

.panel-4{
	width:100%; 
	min-height:270px; 
	height:auto; 
	background:#282724; 
	/*border-top:1px solid #fff; */
	padding-bottom:0px; 
	padding-top:0px;
	margin:0 auto;
	position:relative;
	z-index:400;
	
	}
	
/*.vertical_line4{
	width: 1px; 
	background-color: #fff; 
	height: 24px;  
	margin: 0 auto; 
	position:relative; 
	top:-12px;
	
	}*/

.contact1{
	height:35px; 
	max-width:520px; 
	margin:0 auto;
	display:block;
	}
	
.mail_me{
	float:left;
	font-size:14px; 
	color:#fff; 
	min-width:150px; 
	height:24px; 
	margin-right:36px; 
	font-family: gothic; 
	font-weight: 300;
	background-image:url("../images/mail.png"); 
	background-position:left top; 
	background-repeat:no-repeat; 
	background-size:23px 23px; 
	padding-left:35px; 
	padding-top:2px;
	}
	
.call_me{
	float:left;
	font-size:14px; 
	color:#fff; 
	min-width:100px; 
	height:24px;  
	font-family: gothic; 
	font-weight: 300;
	background-image:url("../images/phone.png"); 
	background-position:left top; 
	background-repeat:no-repeat; 
	background-size:23px 23px; 
	padding-left:35px; 
	padding-top:2px;
	}
	
.skype_me{
	float:right;
	font-size:14px; 
	color:#fff; 
	min-width:100px; 
	height:24px;  
	font-family: gothic; 
	font-weight: 300;
	background-image:url("../images/skype.png"); 
	background-position:left top; 
	background-repeat:no-repeat; 
	background-size:23px 23px; 
	padding-left:35px; 
	padding-top:2px;
	}

.title{
	margin:0 auto;   
	min-width:50px; 
	width:auto; 
	max-width:150px;  
	padding:6px; 
	margin-top: 20px; 
	margin-bottom:20px;
	}
	
.title p{
	min-width:50px; 
	width:auto; 
	max-width:150px; 
	border:1px solid #fff; 
	padding:5px 10px; 
	text-align:center; 
	color:#fff; 
	margin:0 auto; 
	font-family: gothic; 
	font-size:18px; 
	font-weight: 300;
	}
	
.line1{
	width:520px; 
	height:2px; 
	margin:0 auto; 
	background-image:url("../images/line.jpg"); 			    
	background-repeat:repeat-x; 
	background-position:top left; 
	margin-bottom:20px;
	}
	
.social {
	height:40px; 
	width:130px; 
	margin:0 auto;
	}
	
.fb{
	float:right; 
	width:36px; 
	height:36px; 
	background-image:url("../images/fb.png");     	    
	background-position:top center; 
	background-repeat:no-repeat;
	}
	
.pin{
	float:left; 
	width:36px; 
	height:36px; 
	margin-right:10px; 
	background-image:url("../images/pin.png");    
	background-position:top center; 
	background-repeat:no-repeat;
	}
	
.in{
	float:left; 
	width:36px; 
	height:36px;  
	margin-right:10px;
	background-image:url("../images/in.png");    
	background-position:top center; 
	background-repeat:no-repeat;
	}
	
	/* Media Queries  Footer*/
		
@media all and (max-width: 600px){
	
	.line1{
	width: 90%;
	}
	
	.contact1 {
    height: 40px;
    width: 90%;
	 margin: 0 auto;
	}
	
	.mail_me{
	 background-size:18px 18px;
	 margin-right:0px;
	 font-size:11px;    
	 padding-left:20px;
	 width:43%;	    
	}
	
	.call_me{
	 background-size:18px 18px; 
	 font-size:11px;    
	 padding-left:20px;
	 width:30%;	 
	}
	
	.skype_me{
	  background-size:18px 18px; 
	  font-size:11px;    
	 padding-left:20px; 
	 width:25%;	
	}
	
}



	