
@charset 'UTF-8';

@font-face {
	font-family: 'FontAwesome';
	src: url('font/fontawesome-webfont.eot?v=3.2.1');
	src: url('font/fontawesome-webfont.eot?#iefix&v=3.2.1') 
		format('embedded-opentype'), 
		url('font/fontawesome-webfont.woff?v=3.2.1') 
		format('woff'), url('font/fontawesome-webfont.ttf?v=3.2.1') 
		format('truetype'), 
		url('font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') 
		format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Basic */

body{
	background: #fff;
	}

body,input,textarea,select{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 19pt;
	font-weight: 300;
	line-height: 1.75em;
	color: #666;
	-webkit-text-stroke: 0.15px;
	}

h1,h2,h3,h4,h5,h6{
	font-weight: 200;
	color: #666;
	line-height: 1.5em;
	}
	
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: inherit;
	text-decoration: none;
	}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong{
	font-weight: 300;
	}

h2{
	font-size: 2em;
	letter-spacing: -1px;
	}
		

h3{
	font-size: 1.5em;
	}

header{
	margin: 0 0 .5em 0;
	}

footer{
	margin: 2em 0 0 0;
	}

strong, b{
	font-weight: 300;
	color: #666;
	}
	
em, i{
	font-style: italic;
	}

a{
	text-decoration: none;
	color: inherit;
	-moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
	outline: 0;
	}

a:hover, a:link, a:visited, a:active{
	color: #6e6d97;
	}
#footer a:hover, 
#footer a:link, 
#footer a:visited, 
#footer a:active{
	color: #fff;
	}

sub{
	position: relative;
	top: 0.5em;
	font-size: 0.8em;
	}
	
sup{
	position: relative;
	top: -0.5em;
	font-size: 0.8em;
	}
	
hr{
	border: 0;
	border-top: solid 1px #ddd;
	}
	
blockquote{
	border-left: solid 0.5em #ddd;
	padding: 1em 0 1em 2em;
	font-style: italic;
	}
	
p, ul, ol, dl, table{
	margin-bottom: 2em;
	}

br.clear{
	clear: both;
	}

/* Sections/Articles */
	
section,article{
	margin-bottom: 3em;
	}
		
section > :last-child,
article > :last-child,
section > .container > :last-child,
article > .container > :last-child{
	margin-bottom: 0;
	}

section:last-child,
article:last-child{
	margin-bottom: 0;
	}

.row > section,
.row > article{
	margin-bottom: 0;
	}

/* Images */

.image{
	display: inline-block;
	border: 0;
	}
		
.image img{
	display: block;
	width: 100%;
	}

.image.full{
	display: block;
	width: 100%;
	}
			
.image.featured{
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
	}
			
.image.left{
	float: left;
	margin: 0 2em 2em 0;
	}
			
.image.centered{
	display: block;
	margin: 0 0 2em 0;
	}

.image.centered img{
	margin: 0 auto;
	width: auto;
	}

	/* Lists */

ul.default{
	list-style: disc;
	padding-left: 1em;
	}
		
ul.default li{
	padding-left: 0.5em;
	}		

ul.icons{
	cursor: default;
	}	
		
ul.icons li{
	display: inline-block;
	}
			
ul.icons a{
	display: inline-block;
	width: 2em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	border: 0;
	}

ul.menu{
	cursor: default;
	}
		
ul.menu li{
	display: inline-block;
	line-height: 1em;
	padding: 0 0 0 0.5em;
	margin: 0 0 0 0.5em;
	}
			
ul.menu li:first-child{
	border-left: 0;
	padding-left: 0;
	margin-left: 0;
	}

ol.default{
	list-style: decimal;
	padding-left: 1.25em;
	}

ol.default li{
	padding-left: 0.25em;
	}
		

/* Item */
	
.item{
	box-shadow: 0 0.05em 0.15em 0 rgba(0,0,0,0.05);
	margin-bottom: 40px;
	}
		
.item header{
	background: #fff;
	margin: 0;
	padding: 1em 0 1em 0;
	font-size: 0.8em;
	}

.item header h3{
	font-size: 1em;
	padding: 0 1em 0 1em;
	}

/* Icons */

.icon{
	text-decoration: none;
	}
	
.icon span{
	display: none;
	}

.icon:before{
	font-family: FontAwesome;
	font-size: 1.25em;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	-ms-text-rendering: optimizeLegibility;
	-o-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	}

.icon-facebook-sign:before{content:"\f082";}
.icon-linkedin-sign:before{content:"\f08c";}
.icon-github-sign:before{content:"\f092";}
.icon-facebook:before{content:"\f09a";}
.icon-github:before{content:"\f09b";}
.icon-pinterest:before{content:"\f0d2";}
.icon-pinterest-sign:before{content:"\f0d3";}
.icon-linkedin:before{content:"\f0e1";}
.icon-dribbble:before{content:"\f17d";}

/* Header  */

#header{
	position: fixed;
	color: #fff;
	background: #222729 url('images/overlay.png');
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
	text-align: right;
	opacity: 0.85;
	height: 350px; 
	width: 100px !important;
	top:5%; 
	left:0px;
	}
	
#header .top{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	}
	
	
#header .icons{
	font-size: 0.8em;
	margin: 0 0 1em 0;
	text-align: center;
	}
		
#header .icons a{
	color: #41484c;
	-moz-transition: color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out;
	-o-transition: color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out;
	}
			
#header .icons a:hover{
	color: #fff;
	}
	
#nav{height: 100%;}

/*#nav ul{}
#nav ul li{}*/
			
#nav ul li a{
	display: block;
	padding: 1.1em .5em 0em .5em;
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	outline: 0;
	border: 0;
	-moz-transition: none;
	-webkit-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
	font-size: 40px;
	}
				
#nav ul li a span{
	position: relative;
	display: block;
	font-size: 0.8em;
	}

#nav ul li a span.portfolio {
	width: 60px;
	height: 60px;
	background-image:url("../images/paint.png") ;
	background-position: center center;
	background-repeat: no-repeat;
	}
					
#nav ul li a.active span.portfolio{
	background-image:url("../images/paint_active.png") ;
	}

#nav ul li a span.profile {
	width: 60px;
	height: 60px;
	background-image:url("../images/profile.png") ;
	background-position: center center;
	background-repeat: no-repeat;
}

#nav ul li a.active span.profile{
	background-image:url("../images/profile_active.png") ;
	}
					
#nav ul li a span.send {
	width: 60px;
	height: 60px;
	background-image:url("../images/mail.png") ;
	background-position: center center;
	background-repeat: no-repeat;
	}

#nav ul li a.active span.send{
	background-image:url("../images/mail_active.png") ;
	}
					
#nav ul li a span:before{
	position: absolute;
	left: 0;
	color: #41484c;
	text-align: center;
	width: 1.25em;
	}

/*#nav ul li a.active{}
#nav ul li a.active span{}
#nav ul li a.active span:before{}*/

.avatar-header{
	display: -webkit-box;	
    display: -ms-flexbox;
    display: flex;
	margin-bottom: 2em;
	}

.avater-title{
	flex:1;
	margin-left: 1em;
}

.avatar{
	/*flex:1;*/
	width: 111px;
	height: 111px;
	border-radius: 100px;
	background-image: url("../images/my-pic.jpg"); 
	background-repeat: no-repeat;
	background-position: center center;
	}	

a.resume{
	background-color:#b9b9cb; 
	color: #6e6d97;  
	padding:5px 24px; 
	font-weight: 300; 
	font-size:1.2em;
}

a.resume:hover {
	background-color:#6e6d97; 
	color: #fff;  
	}

.name{
	margin-top: -.15em;
    margin-bottom: -.2em;
	color: #6e6d97 !important;
	font-weight: 300;
	font-size: 2.5em;
	}
		

/* Portfolio */

#portfolio h2 {
    color: #c9c9c9;
	font-size: 3em;
	}

#portfolio h2 span {
    color: #666;
	font-weight: 400;
	}

/* Footer */

#contact h2 {
    color: #a0a0b9;
	font-size: 3em;
    letter-spacing: -1px;
	}

#contact h2 span {
    color: #6e6d97;
	font-weight: 400;
	}

#contact {
	vertical-align: text-bottom; 
	 }

#contact .mail{
	color: #6e6d97 !important;
    font-weight: 300;
    font-size: 2.2em;
	text-align: left;
	}

#footer{
	text-align: left;
	height: auto;
	color: #fff;
	max-height: 150px;
	padding: 1em 0 4em 0;
	background-color: #6e6d97;
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
	}

#footer .copyright{
	line-height: 1.25em;
	}
		
#footer .copyright p{
	margin: 0 0 1em 0;
	font-size: 0.6em;
	}

#footer .copyright .menu{
	margin: 0;
	font-size: 1.2em;
	}

/* Main*/

#main{
	margin-left: 0px;
	}
	
#main > section{
	margin: 0;
	overflow: hidden;
	padding: 1.5em 0 3em 0;
	text-align: left;
	}
	
#main > section.one{
	background: #fff;
	padding: 1.5em 0 3em 0;
	}
	
#main > section.two{
	background-color: #f2f2f2;
	padding: 1.5em 0 3em 0;
	}
	
#main > section.three{
	background-color: #fff;
	padding: 1.5em 0 3em 0;
	}
	
#main > section.four{
	background-color: #b9b9cb;
	padding: 1.5em 0 2em 0;
	}


/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fff;;
  	z-index: 20000 !important;
  	overflow: hidden;
}

/* Overlay closing cross */
 .overlay-close {
	width: 80px;
	height: 80px;
	position: fixed;
	background-color: #fff !important;
    opacity: 0.8;
	right: 20px;
	top:0px;
	background-attachment: fixed;
	border: none;
	background: url(../images/cross.png) no-repeat center center;
	color: transparent;
	outline: none;
	z-index: 20001;
}

.overlay-content {
	position: fixed;
	overflow: auto;
	right: 0;
	bottom: 0;
	top: 0;
	left: 0;
	font-size: .8em;
}


/* Effects */
.overlay-simplegenie {
	visibility: hidden;
	-webkit-transform: translateY(60%) scale(0);
	transform: translateY(60%) scale(0);
	-webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
	transition: transform 0.4s, visibility 0s 0.4s;
}

.overlay-simplegenie.open {
	visibility: visible;
	-webkit-transform: translateY(0%) scale(1);
	transform: translateY(0%) scale(1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
}

@media screen and (max-height: 30.5em) {
	.overlay nav {
		height: 70%;
		font-size: 34px;
	}
	.overlay ul li {
		min-height: 34px;
	}
}

/* --- project content ---- */

.project-detail-container{
  	max-width: 1000px; 
  	margin: 0 auto; 
  	margin-top: 4em;
	}

.project-detail-container h1{
  	font-size: 2em; 
  	font-weight: 300; 
 	 margin: 0; padding: 0;
  	margin-bottom: 40px; 
  	text-align: center;
  	color: #6e6d97;
	}

.project-detail{
	display:table;
	margin: 0 auto;
	width:100%;
	max-width: 1000px;
	text-align: justify;
	}

.project-detail p{
	margin-bottom: .2em;
	}

.detail-row{
	display: -webkit-box;
  	display: -ms-flexbox;
  	display: flex;
	flex-direction: row;
	}

.detail-title  {
	flex: 1;
	max-width:180px;
	text-align: justify;
	font-weight: 300;
	font-size: 1.1em;
 	 color: #6e6d97;
	}

.detail-content{
	flex: 1 1;
	}

img.deatial_image {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    border: none;
    padding: 0 0 20px;
	}