

/* Basic */


	body,input,textarea,select
	{
		font-size: 14pt;
	}
	h2
	{
		font-size: 1.5em;
		letter-spacing: 0;
		font-weight: 300;
	}

	.container
	{
		padding: 0 15px 0 15px;
	}

	.image.featured
	{
		position: relative;
		min-height: 10em;
		overflow: hidden;
	}

		.image.featured img
		{
			position: relative;
			height: 10em;
			width: auto;
		}

		#footer .copyright {margin-left: 1em;}

/* Main */

	#main
	{
		display: block;
	}
	
		#main > section
		{
			padding: 2em 0 2em 0;
		}