body {
    margin: 0px;
    background-color: #E6E7EC;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Commemt_ShareHistory_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:608px;
    width:1280px;
    height:592px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:288px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:673px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:673px;
}

.u3 {
    position:absolute;
    left:2px;
    top:328px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:280px;
    top:673px;
    width:721px;
    height:517px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:517px;
    
}

.u5_normal {
    background-image: url('../Commemt_ShareHistory_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:516px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:516px;
}

.u6 {
    position:absolute;
    left:2px;
    top:250px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:124px;
    top:84px;
    width:576px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u8_normal {
    background-image: url('../Commemt_ShareHistory_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:18px;
    top:16px;
    width:180px;
    height:41px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:47px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Commemt_ShareHistory_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:24px;
    top:25px;
    width:144px;
    height:17px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:144px;
    height:17px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Commemt_ShareHistory_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:31px;
    top:71px;
    width:70px;
    height:71px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:71px;
}

.u13 {
    position:absolute;
    left:2px;
    top:28px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Commemt_ShareHistory_files/u12_normal.png');
}

.u14_container {
    position:absolute;
    left:31px;
    top:271px;
    width:70px;
    height:71px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:71px;
}

.u15 {
    position:absolute;
    left:2px;
    top:28px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u16 {
    position:absolute;
    left:280px;
    top:92px;
    width:665px;
    height:142px;
    overflow:hidden;
}

#pd0u16 {
    position:absolute;
    left:0px;
    top:0px;
    width:665px;
    height:142px;
    
}

.u17_normal {
    background-image: url('../Commemt_ShareHistory_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:673px;
    height:142px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:673px;
    height:142px;
}

.u18 {
    position:absolute;
    left:2px;
    top:63px;
    width:669px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:127px;
    top:52px;
    width:333px;
    height:1157px;
    overflow:hidden;
}

#pd1u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:333px;
    height:1157px;
    
}

.u20_normal {
    background-image: url('../Commemt_ShareHistory_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:1157px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:1157px;
}

.u21 {
    position:absolute;
    left:2px;
    top:570px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Commemt_ShareHistory_files/u22_normal.png');
}

.u22_container {
    position:absolute;
    left:257px;
    top:-1px;
    width:3px;
    height:1157px;
}

#u22_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:1157px;
}

.u23 {
    position:absolute;
    left:2px;
    top:570px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../Commemt_ShareHistory_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:258px;
    top:50px;
    width:28px;
    height:114px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:114px;
}

.u25 {
    position:absolute;
    left:2px;
    top:49px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:7px;
    top:25px;
    width:242px;
    height:735px;
    overflow:hidden;
}

#pd1u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:735px;
    
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:735px;
    
}

#u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:734px;
    overflow:hidden;
}

#pd0u27 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:734px;
    
}

.u28_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u28_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u29 {
    position:absolute;
    left:5px;
    top:22px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u30 {
    position:absolute;
    left:0px;
    top:60px;
    width:241px;
    height:311px;
    overflow:hidden;
}

#pd0u30 {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:311px;
    
}

.u31_normal {
    background-image: url('../Commemt_ShareHistory_files/image_u31_normal.png');
}

.u31_container {
    position:absolute;
    left:171px;
    top:259px;
    width:43px;
    height:28px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:28px;
}

.u32 {
    position:absolute;
    left:2px;
    top:6px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:24px;
    top:263px;
    width:133px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:25px;
    top:14px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Commemt_ShareHistory_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:10px;
    top:250px;
    width:222px;
    height:2px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u36 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Commemt_ShareHistory_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:10px;
    top:297px;
    width:222px;
    height:2px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u38 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u39 {
    position:absolute;
    left:20px;
    top:80px;
    width:188px;
    height:163px;
    overflow:hidden;
}

#pd0u39 {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:163px;
    
}

#u40 {
    position:absolute;
    left:0px;
    top:40px;
    width:187px;
    height:115px;
    overflow:hidden;
}

#pd0u40 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:115px;
    
}

#u41 {
    position:absolute;
    left:0px;
    top:40px;
    width:186px;
    height:74px;
    overflow:hidden;
}

#pd0u41 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:74px;
    
}

#u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:32px;
    overflow:hidden;
}

#pd0u42 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:32px;
    
}

.u43_normal {
    background-image: url('../Commemt_ShareHistory_files/u43_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:-2px;
    width:119px;
    height:33px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u44 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u45_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u45_container {
    position:absolute;
    left:80px;
    top:-2px;
    width:36px;
    height:30px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:36px;
}

.u46 {
    position:absolute;
    left:2px;
    top:7px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u47 {
    position:absolute;
    left:0px;
    top:40px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u47 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

#u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

.u49_normal {
    background-image: url('../Commemt_ShareHistory_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u50 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u51_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u51_container {
    position:absolute;
    left:75px;
    top:0px;
    width:43px;
    height:30px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:36px;
}

.u52 {
    position:absolute;
    left:2px;
    top:7px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

.u54_normal {
    background-image: url('../Commemt_ShareHistory_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:33px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:33px;
}

.u55 {
    position:absolute;
    left:2px;
    top:8px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u56_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u56_container {
    position:absolute;
    left:94px;
    top:0px;
    width:41px;
    height:30px;
}

#u56_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:36px;
}

.u57 {
    position:absolute;
    left:2px;
    top:7px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:34px;
    overflow:hidden;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:34px;
    
}

.u59_normal {
    background-image: url('../Commemt_ShareHistory_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u60 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u61_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u61_container {
    position:absolute;
    left:74px;
    top:0px;
    width:44px;
    height:30px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:36px;
}

.u62 {
    position:absolute;
    left:2px;
    top:7px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u63 {
    position:absolute;
    left:20px;
    top:40px;
    width:188px;
    height:34px;
    overflow:hidden;
}

#pd0u63 {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:34px;
    
}

.u64_normal {
    background-image: url('../Commemt_ShareHistory_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:33px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:33px;
}

.u65 {
    position:absolute;
    left:2px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u66_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u66_container {
    position:absolute;
    left:76px;
    top:1px;
    width:27px;
    height:30px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u67 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Commemt_ShareHistory_files/u35_normal.png');
}

.u68_container {
    position:absolute;
    left:12px;
    top:55px;
    width:222px;
    height:2px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u69 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u70 {
    position:absolute;
    left:11px;
    top:16px;
    width:19px;
    height:19px;
    overflow:hidden;
}

#pd1u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u71_normal {
    background-image: url('../Commemt_ShareHistory_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u72 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u70 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u73_normal {
    background-image: url('../Commemt_ShareHistory_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u74 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Commemt_ShareHistory_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:45px;
    top:5px;
    width:146px;
    height:43px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:43px;
}

.u76 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u77 {
    position:absolute;
    left:0px;
    top:60px;
    width:242px;
    height:311px;
    overflow:hidden;
}

#pd0u77 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:311px;
    
}

.u78_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u78_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u79 {
    position:absolute;
    left:5px;
    top:22px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u80 {
    position:absolute;
    left:0px;
    top:60px;
    width:241px;
    height:251px;
    overflow:hidden;
}

#pd0u80 {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:251px;
    
}

.u81_normal {
    background-image: url('../Commemt_ShareHistory_files/u35_normal.png');
}

.u81_container {
    position:absolute;
    left:12px;
    top:230px;
    width:222px;
    height:2px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Commemt_ShareHistory_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:20px;
    top:12px;
    width:192px;
    height:203px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:203px;
}

.u84 {
    position:absolute;
    left:2px;
    top:94px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Commemt_ShareHistory_files/u35_normal.png');
}

.u85_container {
    position:absolute;
    left:12px;
    top:55px;
    width:222px;
    height:2px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u86 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Commemt_ShareHistory_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:45px;
    top:17px;
    width:150px;
    height:16px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
}

.u88 {
    position:absolute;
    left:2px;
    top:0px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u89 {
    position:absolute;
    left:11px;
    top:16px;
    width:19px;
    height:19px;
    overflow:hidden;
}

#pd1u89 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u90_normal {
    background-image: url('../Commemt_ShareHistory_files/u71_normal.png');
}

.u90_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u91 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u89 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u92_normal {
    background-image: url('../Commemt_ShareHistory_files/u73_normal.png');
}

.u92_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u93 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:333px;
    height:1157px;
    
}

.u94_normal {
    background-image: url('../Commemt_ShareHistory_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:-266px;
    top:-6px;
    width:392px;
    height:1160px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:392px;
    height:1160px;
}

.u95 {
    position:absolute;
    left:2px;
    top:572px;
    width:388px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Commemt_ShareHistory_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:3px;
    height:1155px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:1155px;
}

.u98 {
    position:absolute;
    left:2px;
    top:570px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Commemt_ShareHistory_files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:2px;
    top:50px;
    width:28px;
    height:114px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:114px;
}

.u100 {
    position:absolute;
    left:2px;
    top:49px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Footer_files/u4_normal.png');
}

.u101_container {
    position:absolute;
    left:0px;
    top:1177px;
    width:1281px;
    height:48px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1281px;
    height:48px;
}

.u102 {
    position:absolute;
    left:2px;
    top:16px;
    width:1277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:146px;
    top:1197px;
    width:742px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../Footer_files/image_u7_normal.png');
}

.u104_container {
    position:absolute;
    left:1052px;
    top:1193px;
    width:26px;
    height:24px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:24px;
}

.u105 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Footer_files/image_u9_normal.png');
}

.u106_container {
    position:absolute;
    left:1101px;
    top:1192px;
    width:26px;
    height:24px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:24px;
}

.u107 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u109 {
    position:absolute;
    left:154px;
    top:318px;
    width:44px;
    height:81px;
    overflow:hidden;
}

#pd0u109 {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:81px;
    
}

.u110_normal {
    background-image: url('../Commemt_ShareHistory_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

.u111 {
    position:absolute;
    left:2px;
    top:32px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Commemt_ShareHistory_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:1071px;
    top:318px;
    width:43px;
    height:80px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

.u113 {
    position:absolute;
    left:2px;
    top:32px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Commemt_ShareHistory_files/u114_normal.png');
}

.u114_container {
    position:absolute;
    left:1153px;
    top:0px;
    width:127px;
    height:1225px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

.u115 {
    position:absolute;
    left:2px;
    top:604px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Commemt_ShareHistory_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

.u117 {
    position:absolute;
    left:2px;
    top:604px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../TopNav_files/u22_normal.png');
}

.u118_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:82px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:82px;
}

.u119 {
    position:absolute;
    left:2px;
    top:33px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../TopNav_files/u24_normal.png');
}

.u120_container {
    position:absolute;
    left:126px;
    top:0px;
    width:2px;
    height:54px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u121 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../TopNav_files/u24_normal.png');
}

.u122_container {
    position:absolute;
    left:1152px;
    top:0px;
    width:2px;
    height:54px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u123 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u125 {
    position:absolute;
    left:920px;
    top:1px;
    width:227px;
    height:55px;
    overflow:hidden;
}

#pd1u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:55px;
    
}

.u126_normal {
    background-image: url('../Commemt_ShareHistory_files/u126_normal.png');
}

.u126_container {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

.u127 {
    position:absolute;
    left:2px;
    top:19px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:53px;
    top:18px;
    width:120px;
    height:18px;
    ;
    background-color:#868686;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#pd0u125 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:55px;
    
}

.u129_normal {
    background-image: url('../Commemt_ShareHistory_files/u126_normal.png');
}

.u129_container {
    position:absolute;
    left:185px;
    top:0px;
    width:226px;
    height:54px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

.u130 {
    position:absolute;
    left:2px;
    top:19px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:238px;
    top:18px;
    width:120px;
    height:18px;
    ;
    background-color:#868686;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#u132 {
    position:absolute;
    left:657px;
    top:0px;
    width:452px;
    height:53px;
    overflow:hidden;
}

#pd0u132 {
    position:absolute;
    left:0px;
    top:0px;
    width:452px;
    height:53px;
    
}

.u133_normal {
    background-image: url('../Commemt_ShareHistory_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:182px;
    top:0px;
    width:2px;
    height:53px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:53px;
}

.u134 {
    position:absolute;
    left:2px;
    top:18px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../Commemt_ShareHistory_files/u133_normal.png');
}

.u135_container {
    position:absolute;
    left:445px;
    top:0px;
    width:2px;
    height:53px;
}

#u135_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:53px;
}

.u136 {
    position:absolute;
    left:2px;
    top:18px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Commemt_ShareHistory_files/u137_normal.png');
}

.u137_container {
    position:absolute;
    left:185px;
    top:0px;
    width:57px;
    height:53px;
}

#u137_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

.u138 {
    position:absolute;
    left:2px;
    top:18px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u139 {
    position:absolute;
    left:185px;
    top:0px;
    width:58px;
    height:54px;
    overflow:hidden;
}

#pd0u139 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:54px;
    
}

.u140_normal {
    background-image: url('../Commemt_ShareHistory_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

.u141 {
    position:absolute;
    left:2px;
    top:18px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Commemt_ShareHistory_files/u142_normal.png');
}

.u142_container {
    position:absolute;
    left:243px;
    top:0px;
    width:202px;
    height:55px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

.u143 {
    position:absolute;
    left:2px;
    top:20px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../Commemt_ShareHistory_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:240px;
    top:0px;
    width:2px;
    height:54px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u145 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:348px;
    top:23px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u147 {
    position:absolute;
    left:243px;
    top:0px;
    width:203px;
    height:56px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:56px;
    
}

.u148_normal {
    background-image: url('../Commemt_ShareHistory_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

#u148_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

.u149 {
    position:absolute;
    left:2px;
    top:20px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150 {
    position:absolute;
    left:105px;
    top:23px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u151 {
    position:absolute;
    left:895px;
    top:44px;
    width:213px;
    height:134px;
    overflow:hidden;
}

#pd0u151 {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:134px;
    
}

#u152 {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:132px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u153_normal {
    background-image: url('../Commemt_ShareHistory_files/u153_normal.png');
}

.u153_container {
    position:absolute;
    left:1px;
    top:0px;
    width:211px;
    height:111px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:111px;
}

.u154 {
    position:absolute;
    left:2px;
    top:48px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_mouseOver.png');
}

.u155_disabled {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_disabled.png');
}

.u155_normal {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_normal.png');
}

.u155_container {
    position:absolute;
    left:19px;
    top:24px;
    width:172px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_mouseOver.png');
}

.u157_disabled {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_disabled.png');
}

.u157_normal {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u157_normal.png');
}

.u157_container {
    position:absolute;
    left:19px;
    top:48px;
    width:172px;
    height:20px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u158 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_mouseOver.png');
}

.u159_disabled {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u155_disabled.png');
}

.u159_normal {
    background-image: url('../Commemt_ShareHistory_files/menu_button_item_u157_normal.png');
}

.u159_container {
    position:absolute;
    left:19px;
    top:72px;
    width:172px;
    height:20px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u160 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u161 {
    position:absolute;
    left:658px;
    top:41px;
    width:261px;
    height:125px;
    overflow:hidden;
}

#pd0u161 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:125px;
    
}

.u162_normal {
    background-image: url('../Commemt_ShareHistory_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:123px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:123px;
}

.u163 {
    position:absolute;
    left:2px;
    top:54px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u164_container {
    position:absolute;
    left:16px;
    top:92px;
    width:94px;
    height:21px;
}

#u164_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:27px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u166_container {
    position:absolute;
    left:180px;
    top:93px;
    width:69px;
    height:21px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:27px;
}

.u167 {
    position:absolute;
    left:2px;
    top:2px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u168 {
    position:absolute;
    left:284px;
    top:59px;
    width:126px;
    height:26px;
    overflow:hidden;
}

#pd0u168 {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:26px;
    
}

.u169_normal {
    background-image: url('../Commemt_ShareHistory_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:25px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:25px;
}

.u170 {
    position:absolute;
    left:2px;
    top:4px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../Commemt_ShareHistory_files/u144_normal.png');
}

.u171_container {
    position:absolute;
    left:503px;
    top:-1px;
    width:2px;
    height:54px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u172 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/u173_mouseOver.png');
}

.u173_normal {
    background-image: url('../Commemt_ShareHistory_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:409px;
    top:-1px;
    width:46px;
    height:54px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:54px;
}

.u174 {
    position:absolute;
    left:2px;
    top:19px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../Commemt_ShareHistory_files/u144_normal.png');
}

.u175_container {
    position:absolute;
    left:454px;
    top:-1px;
    width:2px;
    height:54px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u176 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/u177_mouseOver.png');
}

.u177_normal {
    background-image: url('../Commemt_ShareHistory_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:360px;
    top:-3px;
    width:49px;
    height:56px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:56px;
}

.u178 {
    position:absolute;
    left:2px;
    top:20px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../Commemt_ShareHistory_files/u179_normal.png');
}

.u179_container {
    position:absolute;
    left:407px;
    top:-3px;
    width:2px;
    height:56px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:56px;
}

.u180 {
    position:absolute;
    left:2px;
    top:20px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../Commemt_ShareHistory_files/hellobuleworldButton_u181_normal.png');
}

.u181_container {
    position:absolute;
    left:129px;
    top:-3px;
    width:231px;
    height:57px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

.u182 {
    position:absolute;
    left:2px;
    top:20px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_normal {
    background-image: url('../Commemt_ShareHistory_files/u183_normal.png');
}

.u183_container {
    position:absolute;
    left:360px;
    top:-3px;
    width:2px;
    height:57px;
}

#u183_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:57px;
}

.u184 {
    position:absolute;
    left:2px;
    top:20px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u185 {
    position:absolute;
    left:129px;
    top:-3px;
    width:232px;
    height:58px;
    overflow:hidden;
}

#pd0u185 {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:58px;
    
}

.u186_normal {
    background-image: url('../Commemt_ShareHistory_files/hellobuleworldButton_u186_normal.png');
}

.u186_container {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

#u186_img {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

.u187 {
    position:absolute;
    left:2px;
    top:20px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u188 {
    position:absolute;
    left:364px;
    top:58px;
    width:140px;
    height:55px;
    overflow:hidden;
}

#pd0u188 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:55px;
    
}

.u189_normal {
    background-image: url('../Commemt_ShareHistory_files/u189_normal.png');
}

.u189_container {
    position:absolute;
    left:527px;
    top:131px;
    width:138px;
    height:52px;
}

#u189_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

.u190 {
    position:absolute;
    left:2px;
    top:18px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u191_normal {
    background-image: url('../Commemt_ShareHistory_files/u189_normal.png');
}

.u191_container {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

#u191_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

.u192 {
    position:absolute;
    left:2px;
    top:18px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u193 {
    position:absolute;
    left:333px;
    top:58px;
    width:103px;
    height:54px;
    overflow:hidden;
}

#pd0u193 {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:54px;
    
}

.u194_normal {
    background-image: url('../Commemt_ShareHistory_files/u194_normal.png');
}

.u194_container {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:53px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:53px;
}

.u195 {
    position:absolute;
    left:2px;
    top:18px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_mouseOver {
    background-image: url('../Commemt_ShareHistory_files/u196_mouseOver.png');
}

.u196_normal {
    background-image: url('../Commemt_ShareHistory_files/u196_normal.png');
}

.u196_container {
    position:absolute;
    left:456px;
    top:-1px;
    width:47px;
    height:54px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:54px;
}

.u197 {
    position:absolute;
    left:2px;
    top:19px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u198 {
    position:absolute;
    left:409px;
    top:55px;
    width:143px;
    height:59px;
    overflow:hidden;
}

#pd0u198 {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:59px;
    
}

.u199_normal {
    background-image: url('../Commemt_ShareHistory_files/u199_normal.png');
}

.u199_container {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:57px;
}

#u199_img {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:57px;
}

.u200 {
    position:absolute;
    left:2px;
    top:20px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u201 {
    position:absolute;
    left:128px;
    top:42px;
    width:237px;
    height:64px;
    overflow:hidden;
}

#pd0u201 {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:64px;
    
}

.u202_normal {
    background-image: url('../Commemt_ShareHistory_files/u202_normal.png');
}

.u202_container {
    position:absolute;
    left:-2px;
    top:0px;
    width:238px;
    height:59px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:59px;
}

.u203 {
    position:absolute;
    left:2px;
    top:22px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

