body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Login_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:101px;
    top:168px;
    width:1260px;
    height:685px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1266px;
    height:691px;
}

.u1 {
    position:absolute;
    left:2px;
    top:328px;
    width:1256px;
    height:28px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Login_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:101px;
    top:67px;
    width:1260px;
    height:50px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1266px;
    height:56px;
}

.u3 {
    position:absolute;
    left:2px;
    top:17px;
    width:1256px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:120px;
    top:82px;
    width:60px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Login_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:539px;
    top:300px;
    width:440px;
    height:260px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:446px;
    height:266px;
}

.u6 {
    position:absolute;
    left:2px;
    top:122px;
    width:436px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:569px;
    top:310px;
    width:240px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:569px;
    top:384px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:659px;
    top:380px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:569px;
    top:419px;
    width:80px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:659px;
    top:415px;
    width:280px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12_mouseOver {
    background-image: url('../Login_files/Login_Button_u12_mouseOver.png');
}

.u12_normal {
    background-image: url('../Login_files/Login_Button_u12_normal.png');
}

.u12_container {
    position:absolute;
    left:789px;
    top:460px;
    width:150px;
    height:40px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:46px;
}

.u13 {
    position:absolute;
    left:2px;
    top:12px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:569px;
    top:510px;
    width:371px;
    height:41px;
    overflow:hidden;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:371px;
    height:41px;
    
}

.u15_normal {
    background-image: url('../Login_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:370px;
    height:40px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:376px;
    height:46px;
}

.u16 {
    position:absolute;
    left:2px;
    top:12px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:7px;
    top:11px;
    width:360px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

