body {
    margin: 0px;
    background-color: #E6E7EC;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -0px;
    width: 1281px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Commemt_Share_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:608px;
    width:1280px;
    height:592px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1286px;
    height:598px;
}

.u1 {
    position:absolute;
    left:2px;
    top:288px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Commemt_Share_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:673px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:673px;
}

.u3 {
    position:absolute;
    left:2px;
    top:328px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u4 {
    position:absolute;
    left:280px;
    top:673px;
    width:721px;
    height:517px;
    overflow:hidden;
}

#pd0u4 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:517px;
    
}

.u5_normal {
    background-image: url('../Commemt_Share_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:516px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:720px;
    height:516px;
}

.u6 {
    position:absolute;
    left:2px;
    top:250px;
    width:716px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:124px;
    top:84px;
    width:576px;
    height:19px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 12px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

.u8_normal {
    background-image: url('../Commemt_Share_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:18px;
    top:16px;
    width:180px;
    height:41px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:186px;
    height:47px;
}

.u9 {
    position:absolute;
    left:2px;
    top:12px;
    width:176px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Commemt_Share_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:24px;
    top:25px;
    width:144px;
    height:17px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:144px;
    height:17px;
}

.u11 {
    position:absolute;
    left:2px;
    top:0px;
    width:140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u12 {
    position:absolute;
    left:280px;
    top:92px;
    width:665px;
    height:105px;
    overflow:hidden;
}

#pd0u12 {
    position:absolute;
    left:0px;
    top:0px;
    width:665px;
    height:105px;
    
}

.u13_normal {
    background-image: url('../Commemt_Share_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:0px;
    width:663px;
    height:111px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:663px;
    height:111px;
}

.u14 {
    position:absolute;
    left:2px;
    top:48px;
    width:659px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u15 {
    position:absolute;
    left:127px;
    top:52px;
    width:333px;
    height:1157px;
    overflow:hidden;
}

#pd1u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:333px;
    height:1157px;
    
}

.u16_normal {
    background-image: url('../Commemt_Share_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:1157px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:384px;
    height:1157px;
}

.u17 {
    position:absolute;
    left:2px;
    top:570px;
    width:380px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Commemt_Share_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:257px;
    top:-1px;
    width:3px;
    height:1157px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:1157px;
}

.u19 {
    position:absolute;
    left:2px;
    top:570px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Commemt_Share_files/u20_normal.png');
}

.u20_container {
    position:absolute;
    left:258px;
    top:50px;
    width:28px;
    height:114px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:114px;
}

.u21 {
    position:absolute;
    left:2px;
    top:49px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u22 {
    position:absolute;
    left:7px;
    top:25px;
    width:242px;
    height:735px;
    overflow:hidden;
}

#pd1u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:735px;
    
}

#pd0u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:735px;
    
}

#u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:734px;
    overflow:hidden;
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:734px;
    
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u25 {
    position:absolute;
    left:5px;
    top:22px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:0px;
    top:60px;
    width:241px;
    height:311px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:311px;
    
}

.u27_normal {
    background-image: url('../Commemt_Share_files/image_u27_normal.png');
}

.u27_container {
    position:absolute;
    left:171px;
    top:259px;
    width:43px;
    height:28px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:28px;
}

.u28 {
    position:absolute;
    left:2px;
    top:6px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:24px;
    top:263px;
    width:133px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 14px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:25px;
    top:14px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Commemt_Share_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:10px;
    top:250px;
    width:222px;
    height:2px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u32 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Commemt_Share_files/u31_normal.png');
}

.u33_container {
    position:absolute;
    left:10px;
    top:297px;
    width:222px;
    height:2px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u34 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u35 {
    position:absolute;
    left:20px;
    top:80px;
    width:188px;
    height:163px;
    overflow:hidden;
}

#pd0u35 {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:163px;
    
}

#u36 {
    position:absolute;
    left:0px;
    top:40px;
    width:187px;
    height:115px;
    overflow:hidden;
}

#pd0u36 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:115px;
    
}

#u37 {
    position:absolute;
    left:0px;
    top:40px;
    width:186px;
    height:74px;
    overflow:hidden;
}

#pd0u37 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:74px;
    
}

#u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:32px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:32px;
    
}

.u39_normal {
    background-image: url('../Commemt_Share_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:-2px;
    width:119px;
    height:33px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u40 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u41_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u41_container {
    position:absolute;
    left:80px;
    top:-2px;
    width:36px;
    height:30px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:42px;
    height:36px;
}

.u42 {
    position:absolute;
    left:2px;
    top:7px;
    width:32px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:0px;
    top:40px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

#u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u44 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

.u45_normal {
    background-image: url('../Commemt_Share_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u46 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u47_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u47_container {
    position:absolute;
    left:75px;
    top:0px;
    width:43px;
    height:30px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:49px;
    height:36px;
}

.u48 {
    position:absolute;
    left:2px;
    top:7px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    overflow:hidden;
}

#pd0u49 {
    position:absolute;
    left:0px;
    top:0px;
    width:186px;
    height:34px;
    
}

.u50_normal {
    background-image: url('../Commemt_Share_files/u50_normal.png');
}

.u50_container {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:33px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:135px;
    height:33px;
}

.u51 {
    position:absolute;
    left:2px;
    top:8px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u52_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u52_container {
    position:absolute;
    left:94px;
    top:0px;
    width:41px;
    height:30px;
}

#u52_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:47px;
    height:36px;
}

.u53 {
    position:absolute;
    left:2px;
    top:7px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:34px;
    overflow:hidden;
}

#pd0u54 {
    position:absolute;
    left:0px;
    top:0px;
    width:187px;
    height:34px;
    
}

.u55_normal {
    background-image: url('../Commemt_Share_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:119px;
    height:33px;
}

.u56 {
    position:absolute;
    left:2px;
    top:8px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u57_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u57_container {
    position:absolute;
    left:74px;
    top:0px;
    width:44px;
    height:30px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:50px;
    height:36px;
}

.u58 {
    position:absolute;
    left:2px;
    top:7px;
    width:40px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u59 {
    position:absolute;
    left:20px;
    top:40px;
    width:188px;
    height:34px;
    overflow:hidden;
}

#pd0u59 {
    position:absolute;
    left:0px;
    top:0px;
    width:188px;
    height:34px;
    
}

.u60_normal {
    background-image: url('../Commemt_Share_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:33px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:104px;
    height:33px;
}

.u61 {
    position:absolute;
    left:2px;
    top:8px;
    width:100px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_mouseOver {
    background-image: url('../resources/images/transparent.gif');
}

.u62_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u62_container {
    position:absolute;
    left:76px;
    top:1px;
    width:27px;
    height:30px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:33px;
    height:36px;
}

.u63 {
    position:absolute;
    left:2px;
    top:7px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Commemt_Share_files/u31_normal.png');
}

.u64_container {
    position:absolute;
    left:12px;
    top:55px;
    width:222px;
    height:2px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u65 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u66 {
    position:absolute;
    left:11px;
    top:16px;
    width:19px;
    height:19px;
    overflow:hidden;
}

#pd1u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u67_normal {
    background-image: url('../Commemt_Share_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u68 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u66 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u69_normal {
    background-image: url('../Commemt_Share_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u70 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../Commemt_Share_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:45px;
    top:5px;
    width:146px;
    height:43px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:146px;
    height:43px;
}

.u72 {
    position:absolute;
    left:2px;
    top:14px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u73 {
    position:absolute;
    left:0px;
    top:60px;
    width:242px;
    height:311px;
    overflow:hidden;
}

#pd0u73 {
    position:absolute;
    left:0px;
    top:0px;
    width:242px;
    height:311px;
    
}

.u74_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u74_container {
    position:absolute;
    left:0px;
    top:0px;
    width:240px;
    height:60px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:66px;
}

.u75 {
    position:absolute;
    left:5px;
    top:22px;
    width:230px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u76 {
    position:absolute;
    left:0px;
    top:60px;
    width:241px;
    height:251px;
    overflow:hidden;
}

#pd0u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:241px;
    height:251px;
    
}

.u77_normal {
    background-image: url('../Commemt_Share_files/u31_normal.png');
}

.u77_container {
    position:absolute;
    left:12px;
    top:230px;
    width:222px;
    height:2px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u78 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Commemt_Share_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:20px;
    top:12px;
    width:192px;
    height:203px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:192px;
    height:203px;
}

.u80 {
    position:absolute;
    left:2px;
    top:94px;
    width:188px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Commemt_Share_files/u31_normal.png');
}

.u81_container {
    position:absolute;
    left:12px;
    top:55px;
    width:222px;
    height:2px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:222px;
    height:2px;
}

.u82 {
    position:absolute;
    left:2px;
    top:-7px;
    width:218px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Commemt_Share_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:45px;
    top:17px;
    width:150px;
    height:16px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:16px;
}

.u84 {
    position:absolute;
    left:2px;
    top:0px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u85 {
    position:absolute;
    left:11px;
    top:16px;
    width:19px;
    height:19px;
    overflow:hidden;
}

#pd1u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u86_normal {
    background-image: url('../Commemt_Share_files/u67_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u87 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u85 {
    position:absolute;
    left:0px;
    top:0px;
    width:19px;
    height:19px;
    
}

.u88_normal {
    background-image: url('../Commemt_Share_files/u69_normal.png');
}

.u88_container {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:18px;
    height:18px;
}

.u89 {
    position:absolute;
    left:2px;
    top:1px;
    width:14px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u15 {
    position:absolute;
    left:0px;
    top:0px;
    width:333px;
    height:1157px;
    
}

.u90_normal {
    background-image: url('../Commemt_Share_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:-266px;
    top:-6px;
    width:392px;
    height:1160px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:392px;
    height:1160px;
}

.u91 {
    position:absolute;
    left:2px;
    top:572px;
    width:388px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Commemt_Share_files/u93_normal.png');
}

.u93_container {
    position:absolute;
    left:0px;
    top:-1px;
    width:3px;
    height:1155px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:3px;
    height:1155px;
}

.u94 {
    position:absolute;
    left:2px;
    top:570px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Commemt_Share_files/u95_normal.png');
}

.u95_container {
    position:absolute;
    left:2px;
    top:50px;
    width:28px;
    height:114px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:28px;
    height:114px;
}

.u96 {
    position:absolute;
    left:2px;
    top:49px;
    width:24px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Footer_files/u4_normal.png');
}

.u97_container {
    position:absolute;
    left:0px;
    top:1177px;
    width:1281px;
    height:48px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1281px;
    height:48px;
}

.u98 {
    position:absolute;
    left:2px;
    top:16px;
    width:1277px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:146px;
    top:1197px;
    width:742px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Footer_files/image_u7_normal.png');
}

.u100_container {
    position:absolute;
    left:1052px;
    top:1193px;
    width:26px;
    height:24px;
}

#u100_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:24px;
}

.u101 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../Footer_files/image_u9_normal.png');
}

.u102_container {
    position:absolute;
    left:1101px;
    top:1192px;
    width:26px;
    height:24px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:26px;
    height:24px;
}

.u103 {
    position:absolute;
    left:2px;
    top:4px;
    width:22px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u105 {
    position:absolute;
    left:154px;
    top:318px;
    width:44px;
    height:81px;
    overflow:hidden;
}

#pd0u105 {
    position:absolute;
    left:0px;
    top:0px;
    width:44px;
    height:81px;
    
}

.u106_normal {
    background-image: url('../Commemt_Share_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

.u107 {
    position:absolute;
    left:2px;
    top:32px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Commemt_Share_files/u108_normal.png');
}

.u108_container {
    position:absolute;
    left:1071px;
    top:318px;
    width:43px;
    height:80px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:80px;
}

.u109 {
    position:absolute;
    left:2px;
    top:32px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Commemt_Share_files/u110_normal.png');
}

.u110_container {
    position:absolute;
    left:1153px;
    top:0px;
    width:127px;
    height:1225px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

.u111 {
    position:absolute;
    left:2px;
    top:604px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Commemt_Share_files/u112_normal.png');
}

.u112_container {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:1225px;
}

.u113 {
    position:absolute;
    left:2px;
    top:604px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../TopNav_files/u22_normal.png');
}

.u114_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:82px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1280px;
    height:82px;
}

.u115 {
    position:absolute;
    left:2px;
    top:33px;
    width:1276px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../TopNav_files/u24_normal.png');
}

.u116_container {
    position:absolute;
    left:126px;
    top:0px;
    width:2px;
    height:54px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u117 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../TopNav_files/u24_normal.png');
}

.u118_container {
    position:absolute;
    left:1152px;
    top:0px;
    width:2px;
    height:54px;
}

#u118_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u119 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u121 {
    position:absolute;
    left:920px;
    top:1px;
    width:227px;
    height:55px;
    overflow:hidden;
}

#pd1u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:55px;
    
}

.u122_normal {
    background-image: url('../Commemt_Share_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

.u123 {
    position:absolute;
    left:2px;
    top:19px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:53px;
    top:18px;
    width:120px;
    height:18px;
    ;
    background-color:#868686;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#pd0u121 {
    position:absolute;
    left:0px;
    top:0px;
    width:227px;
    height:55px;
    
}

.u125_normal {
    background-image: url('../Commemt_Share_files/u122_normal.png');
}

.u125_container {
    position:absolute;
    left:185px;
    top:0px;
    width:226px;
    height:54px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:226px;
    height:54px;
}

.u126 {
    position:absolute;
    left:2px;
    top:19px;
    width:222px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:238px;
    top:18px;
    width:120px;
    height:18px;
    ;
    background-color:#868686;;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#FFFFFF;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    border-color:transparent;
    outline-style:none;
}

#u128 {
    position:absolute;
    left:657px;
    top:0px;
    width:452px;
    height:53px;
    overflow:hidden;
}

#pd0u128 {
    position:absolute;
    left:0px;
    top:0px;
    width:452px;
    height:53px;
    
}

.u129_normal {
    background-image: url('../Commemt_Share_files/u129_normal.png');
}

.u129_container {
    position:absolute;
    left:182px;
    top:0px;
    width:2px;
    height:53px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:53px;
}

.u130 {
    position:absolute;
    left:2px;
    top:18px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../Commemt_Share_files/u129_normal.png');
}

.u131_container {
    position:absolute;
    left:445px;
    top:0px;
    width:2px;
    height:53px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:53px;
}

.u132 {
    position:absolute;
    left:2px;
    top:18px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../Commemt_Share_files/u133_normal.png');
}

.u133_container {
    position:absolute;
    left:185px;
    top:0px;
    width:57px;
    height:53px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

.u134 {
    position:absolute;
    left:2px;
    top:18px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u135 {
    position:absolute;
    left:185px;
    top:0px;
    width:58px;
    height:54px;
    overflow:hidden;
}

#pd0u135 {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:54px;
    
}

.u136_normal {
    background-image: url('../Commemt_Share_files/u136_normal.png');
}

.u136_container {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:57px;
    height:53px;
}

.u137 {
    position:absolute;
    left:2px;
    top:18px;
    width:53px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Commemt_Share_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:243px;
    top:0px;
    width:202px;
    height:55px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

.u139 {
    position:absolute;
    left:2px;
    top:20px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Commemt_Share_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:240px;
    top:0px;
    width:2px;
    height:54px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u141 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:348px;
    top:23px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u143 {
    position:absolute;
    left:243px;
    top:0px;
    width:203px;
    height:56px;
    overflow:hidden;
}

#pd0u143 {
    position:absolute;
    left:0px;
    top:0px;
    width:203px;
    height:56px;
    
}

.u144_normal {
    background-image: url('../Commemt_Share_files/u144_normal.png');
}

.u144_container {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

#u144_img {
    position:absolute;
    left:0px;
    top:0px;
    width:202px;
    height:55px;
}

.u145 {
    position:absolute;
    left:2px;
    top:20px;
    width:198px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:105px;
    top:23px;
    width:68px;
    height:11px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u147 {
    position:absolute;
    left:895px;
    top:44px;
    width:213px;
    height:134px;
    overflow:hidden;
}

#pd0u147 {
    position:absolute;
    left:0px;
    top:0px;
    width:213px;
    height:134px;
    
}

#u148 {
    position:absolute;
    left:0px;
    top:0px;
    width:212px;
    height:132px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u149_normal {
    background-image: url('../Commemt_Share_files/u149_normal.png');
}

.u149_container {
    position:absolute;
    left:1px;
    top:0px;
    width:211px;
    height:111px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:211px;
    height:111px;
}

.u150 {
    position:absolute;
    left:2px;
    top:48px;
    width:207px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_mouseOver {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_mouseOver.png');
}

.u151_disabled {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_disabled.png');
}

.u151_normal {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_normal.png');
}

.u151_container {
    position:absolute;
    left:19px;
    top:24px;
    width:172px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_mouseOver {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_mouseOver.png');
}

.u153_disabled {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_disabled.png');
}

.u153_normal {
    background-image: url('../Commemt_Share_files/menu_button_item_u153_normal.png');
}

.u153_container {
    position:absolute;
    left:19px;
    top:48px;
    width:172px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_mouseOver {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_mouseOver.png');
}

.u155_disabled {
    background-image: url('../Commemt_Share_files/menu_button_item_u151_disabled.png');
}

.u155_normal {
    background-image: url('../Commemt_Share_files/menu_button_item_u153_normal.png');
}

.u155_container {
    position:absolute;
    left:19px;
    top:72px;
    width:172px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:178px;
    height:26px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:168px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u157 {
    position:absolute;
    left:658px;
    top:41px;
    width:261px;
    height:125px;
    overflow:hidden;
}

#pd0u157 {
    position:absolute;
    left:0px;
    top:0px;
    width:261px;
    height:125px;
    
}

.u158_normal {
    background-image: url('../Commemt_Share_files/u158_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:123px;
}

#u158_img {
    position:absolute;
    left:0px;
    top:0px;
    width:258px;
    height:123px;
}

.u159 {
    position:absolute;
    left:2px;
    top:54px;
    width:254px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u160_container {
    position:absolute;
    left:16px;
    top:92px;
    width:94px;
    height:21px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:100px;
    height:27px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:90px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u162_container {
    position:absolute;
    left:180px;
    top:93px;
    width:69px;
    height:21px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:75px;
    height:27px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u164 {
    position:absolute;
    left:284px;
    top:59px;
    width:126px;
    height:26px;
    overflow:hidden;
}

#pd0u164 {
    position:absolute;
    left:0px;
    top:0px;
    width:126px;
    height:26px;
    
}

.u165_normal {
    background-image: url('../Commemt_Share_files/u165_normal.png');
}

.u165_container {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:25px;
}

#u165_img {
    position:absolute;
    left:0px;
    top:0px;
    width:125px;
    height:25px;
}

.u166 {
    position:absolute;
    left:2px;
    top:4px;
    width:121px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167_normal {
    background-image: url('../Commemt_Share_files/u140_normal.png');
}

.u167_container {
    position:absolute;
    left:503px;
    top:-1px;
    width:2px;
    height:54px;
}

#u167_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u168 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_mouseOver {
    background-image: url('../Commemt_Share_files/u169_mouseOver.png');
}

.u169_normal {
    background-image: url('../Commemt_Share_files/u169_normal.png');
}

.u169_container {
    position:absolute;
    left:409px;
    top:-1px;
    width:46px;
    height:54px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:46px;
    height:54px;
}

.u170 {
    position:absolute;
    left:2px;
    top:19px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../Commemt_Share_files/u140_normal.png');
}

.u171_container {
    position:absolute;
    left:454px;
    top:-1px;
    width:2px;
    height:54px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:54px;
}

.u172 {
    position:absolute;
    left:2px;
    top:19px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_mouseOver {
    background-image: url('../Commemt_Share_files/u173_mouseOver.png');
}

.u173_normal {
    background-image: url('../Commemt_Share_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:360px;
    top:-3px;
    width:49px;
    height:56px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:49px;
    height:56px;
}

.u174 {
    position:absolute;
    left:2px;
    top:20px;
    width:45px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../Commemt_Share_files/u175_normal.png');
}

.u175_container {
    position:absolute;
    left:407px;
    top:-3px;
    width:2px;
    height:56px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:56px;
}

.u176 {
    position:absolute;
    left:2px;
    top:20px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../Commemt_Share_files/hellobuleworldButton_u177_normal.png');
}

.u177_container {
    position:absolute;
    left:129px;
    top:-3px;
    width:231px;
    height:57px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

.u178 {
    position:absolute;
    left:2px;
    top:20px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../Commemt_Share_files/u179_normal.png');
}

.u179_container {
    position:absolute;
    left:360px;
    top:-3px;
    width:2px;
    height:57px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:2px;
    height:57px;
}

.u180 {
    position:absolute;
    left:2px;
    top:20px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u181 {
    position:absolute;
    left:129px;
    top:-3px;
    width:232px;
    height:58px;
    overflow:hidden;
}

#pd0u181 {
    position:absolute;
    left:0px;
    top:0px;
    width:232px;
    height:58px;
    
}

.u182_normal {
    background-image: url('../Commemt_Share_files/hellobuleworldButton_u182_normal.png');
}

.u182_container {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

#u182_img {
    position:absolute;
    left:0px;
    top:0px;
    width:231px;
    height:57px;
}

.u183 {
    position:absolute;
    left:2px;
    top:20px;
    width:227px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u184 {
    position:absolute;
    left:364px;
    top:58px;
    width:140px;
    height:55px;
    overflow:hidden;
}

#pd0u184 {
    position:absolute;
    left:0px;
    top:0px;
    width:140px;
    height:55px;
    
}

.u185_normal {
    background-image: url('../Commemt_Share_files/u185_normal.png');
}

.u185_container {
    position:absolute;
    left:527px;
    top:131px;
    width:138px;
    height:52px;
}

#u185_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

.u186 {
    position:absolute;
    left:2px;
    top:18px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187_normal {
    background-image: url('../Commemt_Share_files/u185_normal.png');
}

.u187_container {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

#u187_img {
    position:absolute;
    left:0px;
    top:0px;
    width:138px;
    height:52px;
}

.u188 {
    position:absolute;
    left:2px;
    top:18px;
    width:134px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u189 {
    position:absolute;
    left:333px;
    top:58px;
    width:103px;
    height:54px;
    overflow:hidden;
}

#pd0u189 {
    position:absolute;
    left:0px;
    top:0px;
    width:103px;
    height:54px;
    
}

.u190_normal {
    background-image: url('../Commemt_Share_files/u190_normal.png');
}

.u190_container {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:53px;
}

#u190_img {
    position:absolute;
    left:0px;
    top:0px;
    width:102px;
    height:53px;
}

.u191 {
    position:absolute;
    left:2px;
    top:18px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_mouseOver {
    background-image: url('../Commemt_Share_files/u192_mouseOver.png');
}

.u192_normal {
    background-image: url('../Commemt_Share_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:456px;
    top:-1px;
    width:47px;
    height:54px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:54px;
}

.u193 {
    position:absolute;
    left:2px;
    top:19px;
    width:43px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u194 {
    position:absolute;
    left:409px;
    top:55px;
    width:143px;
    height:59px;
    overflow:hidden;
}

#pd0u194 {
    position:absolute;
    left:0px;
    top:0px;
    width:143px;
    height:59px;
    
}

.u195_normal {
    background-image: url('../Commemt_Share_files/u195_normal.png');
}

.u195_container {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:57px;
}

#u195_img {
    position:absolute;
    left:0px;
    top:0px;
    width:141px;
    height:57px;
}

.u196 {
    position:absolute;
    left:2px;
    top:20px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u197 {
    position:absolute;
    left:128px;
    top:42px;
    width:237px;
    height:64px;
    overflow:hidden;
}

#pd0u197 {
    position:absolute;
    left:0px;
    top:0px;
    width:237px;
    height:64px;
    
}

.u198_normal {
    background-image: url('../Commemt_Share_files/u198_normal.png');
}

.u198_container {
    position:absolute;
    left:-2px;
    top:0px;
    width:238px;
    height:59px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:238px;
    height:59px;
}

.u199 {
    position:absolute;
    left:2px;
    top:22px;
    width:234px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

